.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    max-width: 400px;
    margin: 0 auto; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Тінь */
}

/* Заголовок */
.login-form h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    font-weight: bold;
}

/* Поля вводу */
.login-form input[type="email"],
.login-form input[type="password"] {
    display: flex;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.login-form input[type="email"]:focus,
.login-form input[type="password"]:focus {
    padding: 10px;
    display: flex;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Лейбли */
.login-form label {
    align-self: flex-start;
    font-size: 14px;
    color: #555;
}

/* Кнопка */
.login-form button {
    display: flex;
    justify-content: center;
   
    width: 60%;
   
    margin: 10px auto;
    padding: 12px ;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.login-form button:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Повідомлення про помилку чи успіх */
.message {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.message.success {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
}

.message.error {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}